{% extends 'layout/master.html' %}

{% block content %}

<form id="myForm" method="POST" action="{% url 'cat_update' cat.id %}">
{% csrf_token %}
              <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="name">Category<font style="color:red">*</font></label>
                    <input type="text" class="form-control" id="name" placeholder="Subject" name="name" value="{{cat.name}}">
                  </div>
                 
                <div class="form-group col-md-12">
                  <button type="submit" class="btn btn-primary btn-sm" name="dep_btn">Save</button>
                </div>
              </div>
</form>



{% endblock %}